body {
	display: flex;
	display: -ms-flexbox;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
}

.signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}
